body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

#app {
  width: 100%;
  height: 100%;

}

.plate {
  position: absolute;
  left: calc(50% - 58px);
  top: 200px;
  width: 115px;
  height: 115px;
  background-image: url('/assets/plate.png');
}

#tray-container {
  position:absolute;
  top: 8px;
}

.tray {
  position: absolute;
  left: 0px;
  width: 115px;
  height: 115px;
  background-image: url('/assets/tray.png');
  z-index: 1;
}

.tray--filled {
  background-color: green;
}

.order {
  position:relative;
  left: -5px;
  top: 5px;
  width: 130px;
  height: 50px;
}

.order__regular-salmon {
  background-image: url('/assets/order_salmon_regular.png');
}

#conveyor-container {
  overflow: hidden;
}

.conveyor {
  position: relative;
  width: 300px;
  height: 130px;
  background-image: url('/assets/conveyor-belt.png');
}

.ingredient {
  position: absolute;
  width: 80px;
  height: 80px;
}

.ingredient__rice {
  left: 20px;
  top: 200px;
  background-image: url('/assets/rice.png');
}

.ingredient__salmon {
  left: 20px;
  top: 400px;
  background-image: url('/assets/salmon.png')
}

.ingredient__rice--placed, .ingredient__salmon--placed  {
  left: 15px !important;
  top: 25px !important;
}

.ingredient__unknown {
  left: 0;
  bottom: 0;
  background-color: hotpink;
}
