body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.plate {
  position: absolute;
  left: calc(50% - 58px);
  top: 200px;
  width: 115px;
  height: 115px;
  background-image: url('/assets/plate.png');
}

.tray {
  position: relative;
  display:inline-block;
  left: 0px;
  top: -122px;
  width: 115px;
  height: 115px;
  background-color: blue;
  z-index: 1;
}

.tray--filled {
  background-color: green;
}

#conveyor-container {
  overflow: hidden;
}

.conveyor {
  position: relative;
  width: 300px;
  height: 130px;
  background-image: url('/assets/conveyor-belt.png');
}

.ingredient {
  position: absolute;
  width: 80px;
  height: 80px;
}

.ingredient__rice {
  left: 20px;
  top: 200px;
  background-image: url('/assets/rice.png');
}

.ingredient__salmon {
  left: 20px;
  top: 400px;
  background-color: salmon;
}

.ingredient__unknown {
  left: 0;
  bottom: 0;
  background-color: hotpink;
}
